<footer class="footer text-center">
        <div class="gotop-box footer-tool">
            <span class="fa fa-chevron-up"></span>
        </div>
        <div class="search-box footer-tool">
            <span class="fa fa-search"></span>
            <form class="search-form" role="search" method="get" id="searchform" action="https://www.drblack-system.com/">
                <input type="text" name="s" id="search" placeholder="Search..." style="display: none;">
            </form>
        </div>

    <div class="footer-content div-center">
        <p>已在风雨中度过 <span id="site_time"></span></p>
        <p>Copyright&nbsp;©&nbsp;{:date('Y')} Powered by <a href="//114.55.147.127" target="_blank">Fonnie</a> All Rights Reserved</p>
        <p><a href="http://www.beian.miit.gov.cn/" target="_blank">{$config.beian}</a></p>
    </div>
</footer>