<meta charset="utf-8">
<title>{$config.title|default=''}</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
<meta name="renderer" content="webkit">
<meta name="keywords" content="{$config.keywords}">
<meta name="description" content="{$config.description}">
<meta name="author" content="fonnie">

<link rel="shortcut icon" href="/assets/img/favicon.ico" />
<link rel="stylesheet" href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css?v={$config.version}">
<link href="/assets/css/fonnie.css?v={$config.version}" rel="stylesheet">
<script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js?v={$config.version}"></script>
<script type="text/javascript">
    var config = {$config|json_encode};
</script>
<script src="/assets/css/fonnie.js?v={$config.version}"></script>
